$color-black: #000000;
$color-white: #ffffff;

$color-primary: #242424;
$color-secondary: #b8b8b8;

$color-font-primary: $color-primary;
$color-font-secondary: $color-secondary;

$color-bg-primary: $color-white;
